.card {
    width: 250px;
    height: 350px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: solid 1px red;
    border-radius: 8px;
    float: left;
}

body{
    background-image: url("images/hatter.jpg");
    background-size: cover
}

img{
    height: 350px;
    width: 250px;
    border: none;
    border-radius: 8px;
    
}

#game-board{
    width: 90%;
    margin-left: 8%;
    display: none;
}

#game-board2{
    width: 60%;
    margin-left: 24%;
    margin-top: 1.6%;
    display: none;  
}


button{
    border-radius: 6px;
    padding: 35px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: rgb(223, 65, 65);
    color: white;
    text-shadow: 2px 2px black;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#gomb{
    margin-top: 2%;
    display: none;
}


.card{
    margin-left: 3%;
    margin-top: 2%;
}

@font-face{
    font-family: TheBlacklist;
    src: url('TheBlacklist.woff');
}

h1{
   font-family: TheBlacklist;
   font-size: 5rem;
   color: white;
   margin: auto;
   width: 30%;
   padding: 1%;
   border-radius: 8px;
}

h2{
    font-family: TheBlacklist;
    font-size: 5rem;
    color: white;
    margin: auto;
    width: 30%;
    padding: 1%;
    border-radius: 8px;
    display: none;
    background-color: rgba(223, 65, 65, 0.73);
 }

#choose{
    background-color: rgba(223, 65, 65, 0.73);
    padding: 1%;
    border: solid 1px rgb(99, 228, 245);
    border-radius: 8px;
    width: 15%;
    margin: auto;
    border-radius: 8px;

}

#mod{
    background-color: rgba(223, 65, 65, 0.8);
    border: none;
    border-radius: 8px;
    color: rgb(99, 228, 245);
    font-weight: bold;  
    padding: 8%;
 
}

.szoveg{
    font-weight: bold;
}



option{
    border-top: solid 1px white;
}


#game-board2 .card{
    width: 150px;
    height: 250px;
}

.hidden2{
    height: 250px;
    width: 150px;
}


#endtext{
    /* display: none; */
    font-size: 3rem;
    text-align: center;
    margin-top: 19%;
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px greenyellow;
    transition: all 1 ease-in-out;
    text-align: center;
    letter-spacing: 0.2em;
    -webkit-animation: flicker 1s ease-in-out infinite alternate;
    animation: flicker 1s ease-in-out infinite alternate;
    display: none;
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0.5;
        text-shadow: 2px 2px 10px greenyellow;
    }
    100% {
        opacity: 1;
        text-shadow: 2px 2px 20px greenyellow;
    }
}

#endtext2{
    /* display: none; */
    font-size: 3rem;
    text-align: center;
    margin-top: 19%;
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 5px 5px 10px rgba(12, 45, 191, 1);
    transition: all 1 ease-in-out;
    text-align: center;
    letter-spacing: 0.2em;
    -webkit-animation: flicker2 1s ease-in-out infinite alternate;
    animation: flicker2 1s ease-in-out infinite alternate;
    display: none;
}

@-webkit-keyframes flicker2 {
    0% {
        opacity: 0.7;
        text-shadow: 5px 5px 10px rgba(12, 45, 191, 1);
    }
    100% {
        opacity: 1;
        text-shadow: 5px 5px 20px rgba(12, 45, 191, 1);
    }
}

#endtext3{
    /* display: none; */
    font-size: 7rem;
    text-align: center;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: rgb(99, 228, 245);
    -webkit-text-stroke-width: 1px;
    text-shadow: 5px 5px 10px rgb(212, 20, 20);
    transition: all 1 ease-in-out;
    text-align: center;
    letter-spacing: 0.2em;
    -webkit-animation: flicker3 1s ease-in-out infinite alternate;
    animation: flicker3 1s ease-in-out infinite alternate;
}

@-webkit-keyframes flicker3 {
    0% {
        opacity: 0.7;
        text-shadow: 5px 5px 10px rgb(212, 20, 20);
    }
    100% {
        opacity: 1;
        text-shadow: 5px 5px 20px rgb(212, 20, 20);
    }
}


.floating {
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 15px;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    to {
        transform: translate(0, -0px);
    }
}

@-webkit-keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    to {
        transform: translate(0, -0px);
    }
}

#monmod{
    margin-left: 43%;
    margin-top: 5%;
    display: none;
}

.container{
    width: 70%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 7%;
    margin-top: 7%;
    padding: 8%;
    border-radius: 12px;
}

.fasz{
    margin-left: 22%;
    margin-top: -5%;
}
